.header{
  margin: auto;
  height: 34vw;
  background: url('/header-image.jpg') no-repeat ;
  position: relative;
  background-size: cover;

}
.header-contents img{
  display: none;
}



@media screen and (max-width:793px) {
  .header{
    background: url('/Hanuman.jpg') ;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}