.navbar{
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color:#5b1c1c; */
  background-color:#222830;
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;

}
.navbar #logo {
  width: 70px;
  cursor: pointer;
}

.navbar-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 25px;
  font-size: 18px;
}
.navbar-menu li{
  list-style: none;
  text-decoration: none;
  color: white;
}


.search-box{
  display: flex;
  width: 120px;
  height: 30px;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  outline: 1px solid rgb(255, 255, 255);
}

.search-input{
  width: 80px;
  height: 30px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 15px;
  color: rgb(255, 255, 255);
  padding-left: 15px;
}

.search-input::placeholder{
  color: white;
}

.search-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  margin-right: 10px;
  cursor: pointer;
}

/* .navbar .active{
  padding-bottom: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid white;
} */

.navbar li{
  cursor: pointer;
}

.bottomRight {
  display: none;
  font-size: 25px;
}
.bottomRight a{
  color: white;
  font-size: 22px;
}

.bar{
  display: none;
}

@media screen and (max-width:1050px) {
  .navbar #logo{
    width: 60px;
  }
  .navbar-menu{
    gap: 20px;
    font-size: 17px;
  }

}
@media screen and (max-width:924px) {

  .search-box{
    display: none;
  }
  .bottomRight{
    display: block;
    align-items: center;
  }
  .navbar{
    padding: 2px 15px 2px;
  }
  .navbar-menu{
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(34, 40, 48,0.9);
    position: absolute;
    width: 250px;
    height: 39vh;
    top: -500px;
    right: 0;
    z-index: 10;
    transition: all 0.7s;
    }

    .navbar-menu.active{
      top: 100%;
      transition: all 0.7s ease-in;
    }

}
